* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif
}

:root {
    font-size: 62.5%;
}

@font-face {
    font-family: Rye-Regular;
    src: url(assets/Rye-Regular.ttf);
}
img {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.5;
}
h1 {
    font-size: 8rem;
    position: absolute;
    z-index: 1;
    top: 1rem;
    font-family: Rye-Regular;
    text-shadow: 5px 5px 5px rgb(142, 102, 62);
}

/* positions for the boxes */
body {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #CFB997;
}
#top, #mid, #bottom {
    position: relative;
    z-index: 1;
    display: flex;
    width: 50rem;
}
.left, .mid, .right {
    flex-grow: 1;
    background-size: cover;
    width: 20rem;
    height: 15rem;
    border: 2px solid black;
    text-align: center;
    font-size: 13rem;
    cursor: pointer;
}

/* border just in the middle */
.left {
    border-left: 0;
}
#top .left, #top .mid, #top .right{
    border-top: 0;
}
.right {
    border-right: 0;
}
#bottom .left, #bottom .mid, #bottom .right{
    border-bottom: 0;
}

/* victory */
#winx, #wino, #draw {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 10rem;
    text-align: center;
    visibility: hidden;
    border-bottom: 5px solid;
    color: white;
    z-index: 2;
}
#black {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60rem;
    height: 60rem;
    visibility: hidden;
    border-radius: 10rem;
    z-index: 2;
}

button {
    position: absolute;
    z-index: 3;
    background-color: #54B435;
    bottom: 5.0rem;
    width: 25.0rem;
    height: 10.0rem;
    font-size: 3.0rem;
    cursor: pointer;
    border-radius: 2.5rem;
    font-family: Rye-Regular;
}
button:hover {
    background-color: #82CD47;
}
.score {
    position: absolute;
    left: 1rem;
    top: 45%;
    color: white;
}

.score thead tr th {
    width: 12rem;
}

th {
    font-size: 1.45rem;
}

.title {
    color: black;
}
footer {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    font-size: 2rem;
    font-weight: bold;
}